@media screen {
  hr {
    height: 1px !important;
    background-color: #f57914 !important;
    border: none !important;
    border-top: none !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  body {
    background-color: #f3f3f3 !important;
    font-size: 18px !important;
    width: 100% !important;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
  }

  .navbar a {
    float: none;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }

  .navbar a.active {
    background-color: #f57914;
    color: white;
  }
  .page {
    background-color: #f3f3f3;
    margin: auto;
    padding: 10px 40px !important;
    max-width: 1440px;
  }
  div.centerOnPrintedPage {
    width: 100%;
    background-color: #fff;
  }
  .page-report-A4 {
    background-color: #fff;
    width: 100% !important;
    margin: 0;
    padding: 20px;
    max-width: 100%;
  }
  .page-report-head {
    width: 100% !important;
    margin: 0 auto !important;
    padding: 20px !important;
  }
  .page-report-footer {
    padding: 20px !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding-right: 10px;
  }
  .page-report-content {
    margin: 0 auto !important;
    width: 100% !important;
    /* Adjust the width as needed */
    /* Adjust the height as needed*/
    box-sizing: border-box !important;
    background-color: #fff !important;
  }
  .pagebreak-before {
    width: 100%;
    background-color: #f3f3f3;
  }
  .pagebreak-after {
    width: 100%;
    background-color: #f3f3f3;
  }

  .titulo-atividade {
    font-size: 20px !important;
    vertical-align: super;
  }
  .atividade {
    vertical-align: top;
  }

  .atividade-img,
  .atividade-img-croqui {
    width: 98% !important;
    height: 400px !important;
    overflow: hidden !important;
    margin: 0 auto !important;
    background-position: center !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    border: none !important;
  }
  .logo {
    width: 155px !important;
    padding-right: 10px;
  }
  .capa-logo {
    padding-top: 100px;
    width: 400px;
  }
  .capa-cliente {
    width: 100%;
    padding: 0px !important;
    text-align: center;
  }
  .capa-fs-18 {
    font-size: 18px !important;
  }

  .capa_silver {
    color: silver !important;
  }

  .capa-background {
    background-color: #f57914;
    color: #fff !important;
  }

  .capa-background-black {
    background-color: black !important;
    color: #fff !important;
  }

  .capa-fs-20 {
    font-size: 20px !important;
  }
  .marcador {
    border-left: 5px solid #f57914 !important;
  }

  .border-rounded {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
  }
  .border-none {
    border: none !important;
  }

  .fs-14 {
    font-size: 14px !important;
  }
  .fs-16 {
    font-size: 16px !important;
  }
  .fs-18 {
    font-size: 18px !important;
  }
  .fs-20 {
    font-size: 20px !important;
  }
  .fs-30 {
    font-size: 30px !important;
  }
  .fs-35 {
    font-size: 35px !important;
  }
  .fs-40 {
    font-size: 40px !important;
  }
  .fs-45 {
    font-size: 45px !important;
  }
  .fs-50 {
    font-size: 50px !important;
  }

  .fb {
    font-weight: bold;
  }
  .fb-800 {
    font-weight: 800;
  }

  .pl-30 {
    padding-left: 30px !important;
  }
  .pl-20 {
    padding-left: 20px !important;
  }
  .pl-10 {
    padding-left: 10px !important;
  }
  .p-top-250 {
    padding-top: 250px;
  }
  .p-bottom-250 {
    padding-bottom: 250px;
  }
  .p-bottom-20 {
    padding-bottom: 20px;
  }
  .pd-10 {
    padding: 30px !important;
  }
  .separador {
    height: 10px;
    width: 100%;
    background-color: #f3f3f3;
  }
  .bg-capa-bottom {
    width: 100%;
    border: none !important;
    height: 400px;
    background-image: url("img/Capa_footer.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .m-t-0 {
    margin-top: 0px !important;
  }
  .m-b-0 {
    margin-bottom: 0px !important;
  }
  .equalDivide {
    width: 50%;
  }
  .text-left {
    text-align: left;
  }
}
