@page {
  size: A4;
  margin-top: 0mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  margin-right: 0mm;
}

/* =========================
   RESET PRINT
========================= */
@media print {
  html,
  body {
    margin: 0;
    padding: 0;
    height: auto;
    background: white;
    font-family: "Montserrat", sans-serif !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body {
    overflow: visible !important;
    font-family: "Montserrat", sans-serif;
    font-size: 14px !important;
    width: 100% !important;
    color: #000;
  }

  /* =========================
       CONTAINER GERAL
    ========================= */
  .report {
    width: 100%;
  }

  .page {
    width: 210mm;
    height: 290mm;
    margin: 10px auto !important;
    page-break-before: always;
    break-before: page;
    background-color: white;
  }

  /* =========================
       HEADER E FOOTER
    ========================= */
  header {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 1px;
    box-sizing: border-box;
  }

  /* =========================
   ÁREA ÚTIL DA PÁGINA
========================= */

  .page-inner {
    position: relative;
    height: 100%;
    padding: 5px;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
  }

  /* =========================
       CONTEÚDO
    ========================= */
  .content {
    page-break-inside: auto;
  }

  /* =========================
       QUEBRA DE PÁGINA
    ========================= */
  .page-break {
    page-break-before: always;
    break-before: page;
  }

  /* =========================
       EVITAR QUEBRAS FEIAS
    ========================= */
  table,
  tr,
  td,
  th {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%;
    height: auto;
    page-break-inside: avoid;
    display: block;
  }

  h1,
  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }
  .titulo-atividade {
    font-size: 14px !important;
    margin-left: 20px !important;
    margin-top: 20px !important;
    font-weight: 800 !important;
  }
  .logo {
    width: 120px !important;
  }
  .marcador {
    border-left: 4px solid #f57914 !important;
  }
  .border-rounded {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 0 auto;
  }
  .border-none {
    border: none !important;
  }
  .fs-12 {
    font-size: 12px !important;
  }
  .fs-14 {
    font-size: 14px !important;
  }
  .fs-16 {
    font-size: 16px !important;
  }
  .fs-18 {
    font-size: 18px !important;
  }
  .fs-20 {
    font-size: 20px !important;
  }
  .fs-30 {
    font-size: 30px !important;
  }
  .fs-35 {
    font-size: 35px !important;
  }
  .fs-40 {
    font-size: 40px !important;
  }
  .fs-45 {
    font-size: 45px !important;
  }
  .fs-50 {
    font-size: 50px !important;
  }

  .fb {
    font-weight: bold !important;
  }
  .fb {
    font-weight: bold;
  }
  .fb-100 {
    font-weight: 100;
  }
  .fb-200 {
    font-weight: 200;
  }
  .fb-300 {
    font-weight: 300;
  }
  .fb-400 {
    font-weight: 400;
  }
  .fb-500 {
    font-weight: 500;
  }
  .fb-600 {
    font-weight: 600;
  }
  .fb-700 {
    font-weight: 700;
  }
  .fb-800 {
    font-weight: 800;
  }
  .fb-900 {
    font-weight: 900;
  }

  .capa-logo {
    padding-top: 100px;
    width: 400px;
  }
  .capa-cliente {
    width: 100%;
    padding: 0px !important;
    text-align: center;
  }
  .capa-fs-18 {
    font-size: 18px !important;
  }
  .page_capa {
    size: A4;
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    break-before: page;
    background-color: white;
  }

  .capa_silver {
    color: silver !important;
  }

  .capa-background {
    background-color: #f57914;
    color: #fff !important;
  }

  .capa-background-black {
    background-color: black !important;
    color: #fff !important;
  }

  .capa-fs-20 {
    font-size: 20px !important;
  }
  .pl-30 {
    padding-left: 30px !important;
  }
  .pl-20 {
    padding-left: 20px !important;
  }
  .pl-10 {
    padding-left: 10px !important;
  }
  .p-top-250 {
    padding-top: 250px;
  }
  .p-bottom-250 {
    padding-bottom: 250px;
  }
  .p-bottom-20 {
    padding-bottom: 20px;
  }
  .pd-10 {
    padding: 10px !important;
  }
  .plr-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .plr-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .pdt-10 {
    padding-top: 10px !important;
  }
  .pdt-20 {
    padding-top: 20px !important;
  }
  .form-row {
    display: flex; /* Aligns children in a row */
    width: 100%; /* Ensures the row takes full width */
    align-items: baseline; /* Aligns text and underline properly */
  }

  .label {
    /* Optional: Add some margin if desired */
    margin-right: 5px;
  }

  .underline-space {
    flex-grow: 1; /* This makes the span fill the remaining space */
    border-bottom: 1px solid black; /* This creates the continuous line */
    /* Optional: Adjust vertical spacing with padding/margin as needed */
    margin-bottom: 3px;
  }
  .separador {
    height: 10px;
    width: 100%;
    background-color: #f3f3f3;
  }
  .bg-capa-bottom {
    position: absolute;
    margin: 0 auto;
    width: 209mm;
    height: auto;
    border: none !important;
    background-image: url("img/capa_footer.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 100px;
  }
  .m-t-0 {
    margin-top: 0px !important;
  }
  .m-b-0 {
    margin-bottom: 0px !important;
  }
  .equalDivide {
    width: 50% !important;
  }
  .text-left {
    text-align: left !important;
  }

  img {
    max-width: 100% !important;
  }
  .p-top-250 {
    padding-top: 250px;
  }
  .p-bottom-250 {
    padding-bottom: 0px;
  }
  .fotopadrao > table {
    border: 2px solid black;
    border-radius: 20px;
    border-collapse: separate;
    -moz-border-radius: 6px;
  }

  .fotopadrao > td {
    border-left: solid black 2px;
    border-top: solid black 2px;
  }
  .fotopadrao > td:first-child,
  .fotopadrao > th:first-child {
    border-left: none;
  }
  .fotopadraomax {
    width: auto;
    height: 95%;
    max-width: 315px !important;
    max-height: 285px !important;
  }
  /* =========================
       ESCONDER ELEMENTOS DA TELA
    ========================= */
  .no-print {
    display: none !important;
  }
}
