<tr class="page-report-footer">
    <td class="plr-20">
        <table width="100%" class="border-rounded" cellpadding="0" cellspacing="0">
            <tbody class="border-none">
                <tr class="border-none">
                    <td style="width:50%;" class="border-none" align="left">(49) 3664-8000</td>
                    <td style="width:50%;" class="border-none" align="left">ROD. BR KM 102,3 - LINHA HUMAITÁ -
                        INDUSTRIAL<br>CEP 89890-000 Cunha Porã / SC</td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
