<div class="page">
    <table border=0 class="page-report-A4" width="100%">
        <thead>
            <tr class="page-report-head">
                <th>
                    <table width="100%" class="border-rounded" cellpadding="0" cellspacing="0">
                        <tbody class="border-none">
                            <tr class="border-none">
                                <td class="border-none" width="70%" align="left" class="fb fs-30">
                                    <div class="">
                                        <span class="fb-600 label fs-20">CHECK LIST</span>
                                        <span class="fb-800 fs-20" style="display: block;">ENTREGA TÉCNICA</span>
                                    </div>
                                </td>
                                <td class="border-none" width="30%" align="right"><img class="logo" src="img/logo.png"></td>
                            </tr>
                        </tbody>
                    </table>
                </th>
            </tr>

        </thead>
        <tbody>
            <tr class="page-report-content">
                <td class="plr-20">
                    <span class="titulo-atividade"><label style="padding-top: 15px;">Cabeçalho</label></span>
                    <table width="100%" class="border-rounded" cellpadding="0" cellspacing="0">
                        <tbody class="border-none">
                            <tr class="border-none">
                                <td class="border-none" width="100%" align="left">
                                    <p class="m-t-0 m-b-0">
                                        <label>Número: </label> <span id="pedido"></span><br>
                                        <label>Vendedor: </label><span id="vendedor"></span><br>
                                        <label>Categoria de Vendas: </label> <span id="categoriaVendas"></span><br>
                                        <label>Integradora: </label> <span id="integradora"></span><br>
                                        <label>Projeto: </label> <span id="projeto"></span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="page-report-content">
                <td class="plr-20">
                    <span class="titulo-atividade">Dados do Cliente</span>
                    <table width="100%" class="border-rounded" cellpadding="0" cellspacing="0">
                        <tbody class="border-none">
                            <tr class="border-none">
                                <td class="border-none" width="100%" align="left">
                                    <table width="100%" class=" m-t-0 m-b-0">
                                        <tr>
                                            <td style="width:100%" colspan="3">Cliente: <span id="cliente"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:100%" colspan="3">Endereço: <span id="endereco"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:40%">Município: <span id="municipio"></span></td>
                                            <td style="width:30%">CEP: <span id="cep"></span></td>
                                            <td style="width:30%">UF: <span id="uf"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="width:40%">
                                                <div class="form-row">
                                                    <span class="label">CPF:</span>
                                                    <span id="cpf"></span>
                                                </div>
                                            </td>
                                            <td style="width:30%">
                                                <div class="form-row">
                                                    <span class="label">IE:</span>
                                                    <span id="ie"></span>
                                                </div>
                                            </td>
                                            <td style="width:30%">
                                                <div class="form-row">
                                                    <span class="label">Contato:</span>
                                                    <span id="contato"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:40%">
                                                <div class="form-row">
                                                    <span class="label">Telefone:</span>
                                                    <span id="telefone"></span>
                                                </div>
                                            </td>
                                            <td style="width:30%">
                                                <div class="form-row">
                                                    <span class="label">Celular:</span>
                                                    <span id="celular"></span>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="page-report-content">
                <td class="plr-20 pt-10">
                    <span class="titulo-atividade">Participantes</span>
                    <table width="100%" class="border-rounded" cellpadding="0" cellspacing="0">
                        <tbody class="border-none">
                            <tr class="border-none">
                                <td class="border-none" width="100%" align="left">
                                    <table width="100%" class="m-t-0 m-b-0">
                                        <tr>
                                            <td style="width:50%;">
                                                <div class="form-row">
                                                    <span class="label">Nome:</span>
                                                    <span class="underline-space" id="participante_nome_1"></span>
                                                </div>
                                            </td>
                                            <td style="width:50%;">
                                                <div class="form-row">
                                                    <span class="label">Empresa:</span>
                                                    <span class="underline-space" id="participante_empresa_1"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%;">
                                                <div class="form-row">
                                                    <span class="label">Nome:</span>
                                                    <span class="underline-space" id="participante_nome_2"></span>
                                                </div>
                                            </td>
                                            <td style="width:50%;">
                                                <div class="form-row">
                                                    <span class="label">Empresa:</span>
                                                    <span class="underline-space" id="participante_empresa_2"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%;">
                                                <div class="form-row">
                                                    <span class="label">Nome:</span>
                                                    <span class="underline-space" id="participante_nome_3"></span>
                                                </div>
                                            </td>
                                            <td style="width:50%;">
                                                <div class="form-row">
                                                    <span class="label">Empresa:</span>
                                                    <span class="underline-space" id="participante_empresa_3"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%;">
                                                <div class="form-row">
                                                    <span class="label">Nome:</span>
                                                    <span class="underline-space" id="participante_nome_4"></span>
                                                </div>
                                            </td>
                                            <td style="width:50%;">
                                                <div class="form-row">
                                                    <span class="label">Empresa:</span>
                                                    <span class="underline-space" id="participante_empresa_4"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:50%;">
                                                <div class="form-row">
                                                    <span class="label">Nome:</span>
                                                    <span class="underline-space" id="participante_nome_5"></span>
                                                </div>
                                            </td>
                                            <td style="width:50%;">
                                                <div class="form-row">
                                                    <span class="label">Empresa:</span>
                                                    <span class="underline-space" id="participante_empresa_5"></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="page-report-content">
                <td class="plr-20">
                    <span class="titulo-atividade">Informações Preliminares</span>
                    <table width="100%" class="border-rounded" cellpadding="0" cellspacing="0">
                        <tbody class="border-none">
                            <tr class="border-none">
                                <td class="border-none" width="100%" align="left">
                                    <table width="100%" class=" m-t-0 m-b-0">
                                        <tr>
                                            <td style="width:33.33%;">
                                                <div class="form-row">
                                                    <span class="label">Largura: </span>
                                                    <span class="underline-space" id="largura"></span>
                                                </div>
                                            </td>
                                            <td style="width:33.33%;">
                                                <div class="form-row">
                                                    <span class="label">Energia: </span>
                                                    <span class="underline-space" id="energia"></span>
                                                </div>
                                            </td>
                                            <td style="width:33.33%;">
                                                <div class="form-row">
                                                    <span class="label">Tipo de construção: </span>
                                                    <span class="underline-space" id="tipo_construcao"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:33.33%;">
                                                <div class="form-row">
                                                    <span class="label">Comprimento: </span>
                                                    <span class="underline-space" id="comprimento"></span>
                                                </div>
                                            </td>
                                            <td style="width:33.33%;">
                                                <div class="form-row">
                                                    <span class="label">Veloc. de ar desejada: </span>
                                                    <span class="underline-space" id="velocidade_ar_desejada"></span>
                                                </div>
                                            </td>
                                            <td style="width:33.33%;">
                                                <div class="form-row">
                                                    <span class="label">Estrutura muréta: </span>
                                                    <span class="underline-space" id="estrutura_mureta"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:33.33%;">
                                                <div class="form-row">
                                                    <span class="label">Altura Central: </span>
                                                    <span class="underline-space" id="altura_central"></span>
                                                </div>
                                            </td>
                                            <td style="width:33.33%;">
                                                <div class="form-row">
                                                    <span class="label">Pressão de trabalho: </span>
                                                    <span class="underline-space" id="pressao_trabalho"></span>
                                                </div>
                                            </td>
                                            <td style="width:33.33%;">
                                                <div class="form-row">
                                                    <span class="label">Dist. entre galpão: </span>
                                                    <span class="underline-space" id="pressao_trabalho"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:33.33%;">
                                                <div class="form-row">
                                                    <span class="label">Altura Lateral: </span>
                                                    <span class="underline-space" id="altura_lateral"></span>
                                                </div>
                                            </td>
                                            <td style="width:33.33%;"></span>
                                            </td>
                                            <td style="width:33.33%;">
                                                <div class="form-row">
                                                    <span class="label">Comprimento do vão: </span>
                                                    <span class="underline-space" id="comprimento_vao"></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="page-report-content">
                <td class="plr-20">
                    <span class="titulo-atividade">Considerações Iniciais</span>
                    <table width="100%" class="border-rounded" cellpadding="0" cellspacing="0">
                        <tbody class="border-none">
                            <tr class="border-none">
                                <td class="border-none" width="100%" align="left">
                                    <table width="100%" class=" m-t-0 m-b-0">
                                        <tr>
                                            <td style="width:100%;min-height: 40px;">
                                                <span id="largura" style="width: 100%; display: block;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="page-report-content">
                <td class="plr-20 fotopadrao">
                    <span class="titulo-atividade">Foto Padrão</span>
                    <table width="100%" class="fotopadrao">
                        <tbody>
                            <tr >
                                <td align="center" style="width:50%;">
                                    <img src="https://picviewer.umov.me/Pic/GetImage?id=888974023&token=8162b717d8dbe867c26e56c0dc2250ba" width="auto"
                                        height="250px">
                                </td>
                                <td align="center" style="width:50%;">
                                    <img src="https://picviewer.umov.me/Pic/GetImage?id=888974025&token=98c9179c8b5a175b04972b5cf4d2217a" width="auto"
                                        height="250px">
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="page-report-footer">
                <td class="plr-20">
                    <table width="100%" class="border-rounded" cellpadding="0" cellspacing="0">
                        <tbody class="border-none">
                            <tr class="border-none">
                                <td style="width:50%;" class="border-none" align="left">(49) 3664-8000</td>
                                <td style="width:50%;" class="border-none" align="left">ROD. BR KM 102,3 - LINHA HUMAITÁ -
                                    INDUSTRIAL<br>CEP 89890-000 Cunha Porã / SC</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
